

#genbtn{
    background-color: #2D4157;
    color: white;
    border: none;
    padding: 0.7%;
    border-radius: 0.7rem;
    margin: 1rem;
    cursor: pointer;
    margin-left: 0rem;
}

#genbtn:hover{

    background-color: #81a1c4;
    color: white;
}

.para{
    margin: 5% 15%;
    width: 70%;
    text-align: justify;
}

p{
    margin-bottom: 3%;
}

input{

    margin: 0 3%;
    padding: 0.5%;
}

.subdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
